@page "/form"


	<div class=" row">
		<div class=" col-md-6">
			<div class=" card">
				<div class=" card-header">
					<h4 class=" card-title">Stacked Form</h4>
				</div>
				<div class=" card-body">
					<form action="#" novalidate="" class="ng-untouched ng-pristine ng-valid">
						<label> Email address </label>
						<div class=" form-group">
							<input class=" form-control" type="email">
						</div>
						<label> Password </label>
						<div class=" form-group">
							<input class=" form-control" type="password" style="background-image: url(&quot;chrome-extension://ibkoenhablealnikeefmjineccmgegmh/src/images/icons/iconForce-32.png&quot;) !important; background-position: 98% 50% !important; background-size: 16px 16px !important; background-repeat: no-repeat !important; transition: background-position 0s ease 0s, background-size 0s ease 0s !important;">
						</div>
						<div class=" form-check mt-3">
							<label class=" form-check-label">
								<input class=" form-check-input" type="checkbox">
								<span class=" form-check-sign">
								</span> Subscribe to newsletter
							</label>
						</div>
					</form>
				</div>
				<div class=" card-footer">
					<button class=" btn btn-fill btn-primary" type="submit"> Submit </button>
				</div>
			</div>
		</div>
		<div class=" col-md-6">
			<div class=" card">
				<div class=" card-header">
					<h4 class=" card-title">Horizontal Form</h4>
				</div>
				<div class=" card-body">
					<form class="form-horizontal ng-untouched ng-pristine ng-valid" novalidate="">
						<div class=" row">
							<label class=" col-md-3 col-form-label"> Username </label>
							<div class=" col-md-9">
								<div class=" form-group">
									<input class=" form-control" type="text">
								</div>
							</div>
						</div>
						<div class=" row">
							<label class=" col-md-3 col-form-label"> Email </label>
							<div class=" col-md-9">
								<div class=" form-group">
									<input class=" form-control" type="email" style="background-image: url(&quot;chrome-extension://ibkoenhablealnikeefmjineccmgegmh/src/images/icons/iconForce-32.png&quot;) !important; background-position: 98% 50% !important; background-size: 16px 16px !important; background-repeat: no-repeat !important; transition: background-position 0s ease 0s, background-size 0s ease 0s !important; cursor: default;">
								</div>
							</div>
						</div>
						<div class=" row">
							<label class=" col-md-3 col-form-label"> Password </label>
							<div class=" col-md-9">
								<div class=" form-group">
									<input class=" form-control" type="password" style="background-image: url(&quot;chrome-extension://ibkoenhablealnikeefmjineccmgegmh/src/images/icons/iconForce-32.png&quot;) !important; background-position: 98% 50% !important; background-size: 16px 16px !important; background-repeat: no-repeat !important; transition: background-position 0s ease 0s, background-size 0s ease 0s !important; cursor: default;">
								</div>
							</div>
						</div>
						<div class=" row">
							<label class=" col-md-3 col-form-label">
							</label>
							<div class=" col-md-9">
								<div class=" form-check">
									<label class=" form-check-label">
										<input class=" form-check-input" type="checkbox">
										<span class=" form-check-sign">
										</span> Remember me
									</label>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class=" card-footer">
					<form class="form-horizontal ng-untouched ng-pristine ng-valid" novalidate="">
						<div class=" row">
							<label class=" col-md-3 col-form-label">
							</label>
							<div class=" col-md-9">
								<button class=" btn btn-fill btn-primary" type="submit"> Sign in </button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class=" col-md-12">
			<div class=" card">
				<div class=" card-header">
					<h4 class=" card-title">Form Elements</h4>
				</div>
				<div class=" card-body">
					<form action="/" class="form-horizontal ng-untouched ng-pristine ng-valid" method="get" novalidate="">
						<div class=" row">
							<label class=" col-sm-2 col-form-label"> With help </label>
							<div class=" col-sm-10">
								<div class=" form-group">
									<input class=" form-control" type="text">
									<span class=" form-text"> A block of help text that breaks onto a new line. </span>
								</div>
							</div>
						</div>
						<div class=" row">
							<label class=" col-sm-2 col-form-label"> Password </label>
							<div class=" col-sm-10">
								<div class=" form-group">
									<input class=" form-control" type="password">
								</div>
							</div>
						</div>
						<div class=" row">
							<label class=" col-sm-2 col-form-label"> Placeholder </label>
							<div class=" col-sm-10">
								<div class=" form-group">
									<input class=" form-control" placeholder="placeholder" type="text">
								</div>
							</div>
						</div>
						<div class=" row">
							<label class=" col-sm-2 col-form-label"> Disabled </label>
							<div class=" col-sm-10">
								<div class=" form-group">
									<input class=" form-control" disabled="disabled" type="text" value="Disabled input here..">
								</div>
							</div>
						</div>
						<div class=" row">
							<label class=" col-sm-2 col-form-label"> Static control </label>
							<div class=" col-sm-10">
								<div class=" form-group">
									<p class=" form-control-static">hellocreative-tim.com</p>
								</div>
							</div>
						</div>
						<div class=" row">
							<label class=" col-sm-2 col-form-label"> Checkboxes and radios </label>
							<div class=" col-sm-10 checkbox-radios">
								<div class=" form-check">
									<label class=" form-check-label">
										<input class=" form-check-input" type="checkbox">
										<span class=" form-check-sign">
										</span> First Checkbox
									</label>
								</div>
								<div class=" form-check">
									<label class=" form-check-label">
										<input class=" form-check-input" type="checkbox">
										<span class=" form-check-sign">
										</span> Second Checkbox
									</label>
								</div>
								<div class=" form-check form-check-radio">
									<label class=" form-check-label">
										<input checked="checked" class=" form-check-input" id="exampleRadios1" name="exampleRadios" type="radio" value="option1">
										<span class=" form-check-sign">
										</span> First Radio
									</label>
								</div>
								<div class=" form-check form-check-radio">
									<label class=" form-check-label">
										<input class=" form-check-input" id="exampleRadios2" name="exampleRadios" type="radio" value="option2">
										<span class=" form-check-sign">
										</span> Second Radio
									</label>
								</div>
							</div>
						</div>
						<div class=" row">
							<label class=" col-sm-2 col-form-label"> Inline checkboxes </label>
							<div class=" col-sm-10">
								<div class=" form-check form-check-inline">
									<label class=" form-check-label">
										<input class=" form-check-input" type="checkbox">
										<span class=" form-check-sign">
										</span> a
									</label>
								</div>
								<div class=" form-check form-check-inline">
									<label class=" form-check-label">
										<input class=" form-check-input" type="checkbox">
										<span class=" form-check-sign">
										</span> b
									</label>
								</div>
								<div class=" form-check form-check-inline">
									<label class=" form-check-label">
										<input class=" form-check-input" type="checkbox">
										<span class=" form-check-sign">
										</span> c
									</label>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class=" col-md-12">
			<div class=" card">
				<div class=" card-header">
					<h4 class=" card-title">Input Variants</h4>
				</div>
				<div class=" card-body">
					<form action="/" class="form-horizontal ng-untouched ng-pristine ng-valid" method="get" novalidate="">
						<div class=" row">
							<label class=" col-sm-2 col-form-label"> Custom Checkboxes &amp; radios </label>
							<div class=" col-sm-4 col-sm-offset-1 checkbox-radios">
								<div class=" form-check">
									<label class=" form-check-label">
										<input class=" form-check-input" type="checkbox">
										<span class=" form-check-sign">
										</span> Unchecked
									</label>
								</div>
								<div class=" form-check">
									<label class=" form-check-label">
										<input checked="checked" class=" form-check-input" type="checkbox">
										<span class=" form-check-sign">
										</span> Checked
									</label>
								</div>
								<div class=" form-check disabled">
									<label class=" form-check-label">
										<input class=" form-check-input" disabled="disabled" type="checkbox">
										<span class=" form-check-sign">
										</span> Disabled Unchecked
									</label>
								</div>
								<div class=" form-check disabled">
									<label class=" form-check-label">
										<input class=" form-check-input" disabled="disabled" type="checkbox">
										<span class=" form-check-sign">
										</span> Disabled Checked
									</label>
								</div>
							</div>
							<div class=" col-sm-5 checkbox-radios">
								<div class=" form-check form-check-radio">
									<label class=" form-check-label">
										<input class=" form-check-input" id="exampleRadios3" name="exampleRadio" type="radio" value="option1">
										<span class=" form-check-sign">
										</span> Radio is off
									</label>
								</div>
								<div class=" form-check form-check-radio">
									<label class=" form-check-label">
										<input checked="checked" class=" form-check-input" id="exampleRadios4" name="exampleRadio" type="radio" value="option2">
										<span class=" form-check-sign">
										</span> Radio is on
									</label>
								</div>
								<div class=" form-check form-check-radio disabled">
									<label class=" form-check-label">
										<input class=" form-check-input" disabled="disabled" id="exampleRadios5" name="exampleRadio1" type="radio" value="option1">
										<span class=" form-check-sign">
										</span> Radio is off
									</label>
								</div>
								<div class=" form-check form-check-radio disabled">
									<label class=" form-check-label">
										<input checked="checked" class=" form-check-input" disabled="disabled" id="exampleRadios6" name="exampleRadio1" type="radio" value="option2">
										<span class=" form-check-sign">
										</span> Radio is on
									</label>
								</div>
							</div>
						</div>
						<div class=" row">
							<label class=" col-sm-2 col-form-label"> Input with success </label>
							<div class=" col-sm-10">
								<div class=" form-group has-success">
									<input class=" form-control" type="text" value="Success">
								</div>
							</div>
						</div>
						<div class=" row">
							<label class=" col-sm-2 col-form-label"> Input with error </label>
							<div class=" col-sm-10">
								<div class=" form-group has-danger">
									<input class=" form-control" type="text" value="Error">
								</div>
							</div>
						</div>
						<div class=" row">
							<label class=" col-sm-2 col-form-label"> Column sizing </label>
							<div class=" col-sm-10">
								<div class=" row">
									<div class=" col-md-3">
										<div class=" form-group">
											<input class=" form-control" placeholder=".col-md-3" type="text">
										</div>
									</div>
									<div class=" col-md-4">
										<div class=" form-group">
											<input class=" form-control" placeholder=".col-md-4" type="text">
										</div>
									</div>
									<div class=" col-md-5">
										<div class=" form-group">
											<input class=" form-control" placeholder=".col-md-5" type="text">
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>











	<div class=" row">
		<div class=" col-md-4">
			<div class=" card">
				<div class=" card-header">
					<h4 class=" card-title">Date Picker</h4>
				</div>
				<div class=" card-body">
					<div class=" form-group">
						<input bsdatepicker="" class="form-control" data-datepicker-color="danger" id="datepicker" type="text">
					</div>
				</div>
			</div>
		</div>
		<div class=" col-md-4">
			<div class=" card">
				<div class=" card-header">
					<h4 class=" card-title">Range Picker</h4>
				</div>
				<div class=" card-body">
					<div class=" form-group">
						<input bsdaterangepicker="" class="form-control" placeholder="Daterangepicker" type="text">
					</div>
				</div>
			</div>
		</div>
		<div class=" col-md-4">
			<div class=" card">
				<div class=" card-header">
					<h4 class=" card-title">Time Picker</h4>
				</div>
				<div class=" card-body">
					<div class=" form-group">
						<timepicker type="text" class="ng-untouched ng-valid ng-dirty">
							<table>
								<tbody>
									<tr class="text-center">
										<td>
											<a class="btn btn-link">
												<span class="bs-chevron bs-chevron-up">
												</span>
											</a>
										</td>
										<!---->
										<td class="ng-star-inserted">&nbsp;&nbsp;&nbsp;</td>
										<!---->
										<td class="ng-star-inserted">
											<a class="btn btn-link">
												<span class="bs-chevron bs-chevron-up">
												</span>
											</a>
										</td>
										<!---->
										<!---->
										<!---->
										<td class="ng-star-inserted">&nbsp;&nbsp;&nbsp;</td>
										<!---->
										<td class="ng-star-inserted">
										</td>
									</tr>
									<tr>
										<td class="form-group">
											<input class="form-control text-center bs-timepicker-field" maxlength="2" placeholder="HH" type="text">
										</td>
										<!---->
										<td class="ng-star-inserted">&nbsp;:&nbsp;</td>
										<!---->
										<td class="form-group ng-star-inserted">
											<input class="form-control text-center bs-timepicker-field" maxlength="2" placeholder="MM" type="text">
										</td>
										<!---->
										<!---->
										<!---->
										<td class="ng-star-inserted">&nbsp;&nbsp;&nbsp;</td>
										<!---->
										<td class="ng-star-inserted">
											<button class="btn btn-default text-center" type="button">AM </button>
										</td>
									</tr>
									<tr class="text-center">
										<td>
											<a class="btn btn-link">
												<span class="bs-chevron bs-chevron-down">
												</span>
											</a>
										</td>
										<!---->
										<td class="ng-star-inserted">&nbsp;&nbsp;&nbsp;</td>
										<!---->
										<td class="ng-star-inserted">
											<a class="btn btn-link">
												<span class="bs-chevron bs-chevron-down">
												</span>
											</a>
										</td>
										<!---->
										<!---->
										<!---->
										<td class="ng-star-inserted">&nbsp;&nbsp;&nbsp;</td>
										<!---->
										<td class="ng-star-inserted">
										</td>
									</tr>
								</tbody>
							</table>
						</timepicker>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class=" row">
		<div class=" col-md-12">
			<div class=" card">
				<div class=" card-body">
					<div class=" row">
						<div class=" col-md-6 mb-4">
							<h4 class=" card-title">Toggle Buttons</h4>
							<div class=" row mb-3">
								<div class=" col-md-4">
									<p class=" category">Default</p>
									<bswitch class="ng-untouched ng-pristine ng-valid">
										<div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-normal bootstrap-switch-on bootstrap-switch-animate" style="width: 100px;">
											<div class="bootstrap-switch-container" style="width: 150px; margin-left: 0px;">
												<span class="bootstrap-switch-handle-on bootstrap-switch-danger" style="width: 50px;">ON</span>
												<span class="bootstrap-switch-label" style="width: 50px;">&nbsp;</span>
												<span class="bootstrap-switch-handle-off bootstrap-switch-danger" style="width: 50px;">OFF</span>
												<input type="checkbox" class="ng-untouched ng-pristine ng-valid">
											</div>
										</div>
									</bswitch>
									<bswitch>
										<div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-normal bootstrap-switch-off bootstrap-switch-animate" style="width: 100px;">
											<div class="bootstrap-switch-container" style="width: 150px; margin-left: -50px;">
												<span class="bootstrap-switch-handle-on bootstrap-switch-danger" style="width: 50px;">ON</span>
												<span class="bootstrap-switch-label" style="width: 50px;">&nbsp;</span>
												<span class="bootstrap-switch-handle-off bootstrap-switch-danger" style="width: 50px;">OFF</span>
												<input type="checkbox" class="ng-untouched ng-pristine ng-valid">
											</div>
										</div>
									</bswitch>
								</div>
								<div class=" col-md-4">
									<p class=" category">Plain</p>
									<bswitch class="ng-untouched ng-pristine ng-valid">
										<div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-normal bootstrap-switch-on bootstrap-switch-animate" style="width: 100px;">
											<div class="bootstrap-switch-container" style="width: 150px; margin-left: 0px;">
												<span class="bootstrap-switch-handle-on bootstrap-switch-danger" style="width: 50px;"> </span>
												<span class="bootstrap-switch-label" style="width: 50px;">&nbsp;</span>
												<span class="bootstrap-switch-handle-off bootstrap-switch-danger" style="width: 50px;"> </span>
												<input type="checkbox" class="ng-untouched ng-pristine ng-valid">
											</div>
										</div>
									</bswitch>
									<bswitch>
										<div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-normal bootstrap-switch-off bootstrap-switch-animate" style="width: 100px;">
											<div class="bootstrap-switch-container" style="width: 150px; margin-left: -50px;">
												<span class="bootstrap-switch-handle-on bootstrap-switch-danger" style="width: 50px;"> </span>
												<span class="bootstrap-switch-label" style="width: 50px;">&nbsp;</span>
												<span class="bootstrap-switch-handle-off bootstrap-switch-danger" style="width: 50px;"> </span>
												<input type="checkbox" class="ng-untouched ng-pristine ng-valid">
											</div>
										</div>
									</bswitch>
								</div>
								<div class=" col-md-4">
									<p class=" category">With Icons</p>
									<bswitch class="ng-untouched ng-pristine ng-valid">
										<div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-normal bootstrap-switch-on bootstrap-switch-animate" style="width: 100px;">
											<div class="bootstrap-switch-container" style="width: 150px; margin-left: 0px;">
												<span class="bootstrap-switch-handle-on bootstrap-switch-danger" style="width: 50px;">
													<i class="tim-icons icon-check-2">
													</i>
												</span>
												<span class="bootstrap-switch-label" style="width: 50px;">&nbsp;</span>
												<span class="bootstrap-switch-handle-off bootstrap-switch-danger" style="width: 50px;">
													<i class="tim-icons icon-simple-remove">
													</i>
												</span>
												<input type="checkbox" class="ng-untouched ng-pristine ng-valid">
											</div>
										</div>
									</bswitch>
									<bswitch>
										<div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-normal bootstrap-switch-off bootstrap-switch-animate" style="width: 100px;">
											<div class="bootstrap-switch-container" style="width: 150px; margin-left: -50px;">
												<span class="bootstrap-switch-handle-on bootstrap-switch-danger" style="width: 50px;">
													<i class="tim-icons icon-check-2">
													</i>
												</span>
												<span class="bootstrap-switch-label" style="width: 50px;">&nbsp;</span>
												<span class="bootstrap-switch-handle-off bootstrap-switch-danger" style="width: 50px;">
													<i class="tim-icons icon-simple-remove">
													</i>
												</span>
												<input type="checkbox" class="ng-untouched ng-pristine ng-valid">
											</div>
										</div>
									</bswitch>
								</div>
							</div>
						</div>
						<div class=" col-md-6 mb-4">
							<h4 class=" card-title">Customisable Select</h4>
							<div class=" row">
								<div class=" col-lg-5 col-md-6 col-sm-3">
									<angular2-multiselect class="selectpicker btn-primary ng-untouched ng-pristine ng-valid">
										<div class="cuppa-dropdown">
											<div class="selected-list">
												<div class="c-btn" tabindex="0">
													<!---->
													<span class="ng-star-inserted">Single Select</span>
													<!---->
													<span class="ng-star-inserted">
														<!---->
													</span>
													<!---->
													<!---->
													<!---->
													<!---->
													<!---->
													<span class="c-angle-down ng-star-inserted">
														<c-icon>
															<!---->
															<!---->
															<svg xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" height="100%" id="Capa_1" style="enable-background:new 0 0 612 612;" version="1.1" viewBox="0 0 612 612" width="100%" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px" class="ng-star-inserted">
<g>
<g id="_x31_0_34_">
<g>
<path d="M604.501,134.782c-9.999-10.05-26.222-10.05-36.221,0L306.014,422.558L43.721,134.782
				c-9.999-10.05-26.223-10.05-36.222,0s-9.999,26.35,0,36.399l279.103,306.241c5.331,5.357,12.422,7.652,19.386,7.296
				c6.988,0.356,14.055-1.939,19.386-7.296l279.128-306.268C614.5,161.106,614.5,144.832,604.501,134.782z">
</path>
</g>
</g>
</g>
</svg>
															<!---->
															<!---->
															<!---->
														</c-icon>
													</span>
													<!---->
												</div>
											</div>
											<div class="dropdown-list animated fadeIn" hidden="">
												<div class="arrow-2 arrow-up">
												</div>
												<div class="arrow-up">
												</div>
												<div class="list-area single-select-mode">
													<!---->
													<!---->
													<!---->
													<!---->
													<div class="filter-select-all ng-star-inserted">
														<!---->
														<!---->
														<!---->
														<!---->
														<!---->
													</div>
													<!---->
													<!---->
													<div style="overflow: auto; max-height: 300px;" class="ng-star-inserted">
														<ul class="lazyContainer">
															<!---->
															<li class="pure-checkbox ng-star-inserted">
																<!---->
																<input type="checkbox" class="ng-star-inserted">
																<label>Foobar</label>
															</li>
															<li class="pure-checkbox ng-star-inserted">
																<!---->
																<input type="checkbox" class="ng-star-inserted">
																<label>Is great</label>
															</li>
														</ul>
													</div>
													<!---->
													<!---->
													<!---->
													<!---->
													<!---->
													<!---->
													<!---->
													<!---->
												</div>
											</div>
										</div>
									</angular2-multiselect>
								</div>
								<div class=" col-lg-5 col-md-6 col-sm-3">
									<angular2-multiselect class="selectpicker btn-danger ng-untouched ng-pristine ng-valid">
										<div class="cuppa-dropdown">
											<div class="selected-list">
												<div class="c-btn" tabindex="0">
													<!---->
													<span class="ng-star-inserted">Choose City</span>
													<!---->
													<!---->
													<!---->
													<!---->
													<!---->
													<!---->
													<span class="c-angle-down ng-star-inserted">
														<c-icon>
															<!---->
															<!---->
															<svg xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" height="100%" id="Capa_1" style="enable-background:new 0 0 612 612;" version="1.1" viewBox="0 0 612 612" width="100%" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px" class="ng-star-inserted">
<g>
<g id="_x31_0_34_">
<g>
<path d="M604.501,134.782c-9.999-10.05-26.222-10.05-36.221,0L306.014,422.558L43.721,134.782
				c-9.999-10.05-26.223-10.05-36.222,0s-9.999,26.35,0,36.399l279.103,306.241c5.331,5.357,12.422,7.652,19.386,7.296
				c6.988,0.356,14.055-1.939,19.386-7.296l279.128-306.268C614.5,161.106,614.5,144.832,604.501,134.782z">
</path>
</g>
</g>
</g>
</svg>
															<!---->
															<!---->
															<!---->
														</c-icon>
													</span>
													<!---->
												</div>
											</div>
											<div class="dropdown-list animated fadeIn" hidden="">
												<div class="arrow-2 arrow-up">
												</div>
												<div class="arrow-up">
												</div>
												<div class="list-area">
													<!---->
													<div class="pure-checkbox select-all ng-star-inserted">
														<!---->
														<input type="checkbox" class="ng-star-inserted">
														<label>
															<span>Select All</span>
															<span hidden="">UnSelect All</span>
														</label>
													</div>
													<!---->
													<!---->
													<!---->
													<div class="filter-select-all ng-star-inserted">
														<!---->
														<!---->
														<!---->
														<!---->
														<!---->
													</div>
													<!---->
													<!---->
													<div style="overflow: auto; max-height: 300px;" class="ng-star-inserted">
														<ul class="lazyContainer">
															<!---->
															<li class="pure-checkbox ng-star-inserted">
																<!---->
																<input type="checkbox" class="ng-star-inserted">
																<label>Paris </label>
															</li>
															<li class="pure-checkbox ng-star-inserted">
																<!---->
																<input type="checkbox" class="ng-star-inserted">
																<label>Bucharest</label>
															</li>
															<li class="pure-checkbox ng-star-inserted">
																<!---->
																<input type="checkbox" class="ng-star-inserted">
																<label>Rome</label>
															</li>
															<li class="pure-checkbox ng-star-inserted">
																<!---->
																<input type="checkbox" class="ng-star-inserted">
																<label>New York</label>
															</li>
															<li class="pure-checkbox ng-star-inserted">
																<!---->
																<input type="checkbox" class="ng-star-inserted">
																<label>Miami </label>
															</li>
															<li class="pure-checkbox ng-star-inserted">
																<!---->
																<input type="checkbox" class="ng-star-inserted">
																<label>Piatra Neamt</label>
															</li>
															<li class="pure-checkbox ng-star-inserted">
																<!---->
																<input type="checkbox" class="ng-star-inserted">
																<label>Paris </label>
															</li>
															<li class="pure-checkbox ng-star-inserted">
																<!---->
																<input type="checkbox" class="ng-star-inserted">
																<label>Bucharest</label>
															</li>
															<li class="pure-checkbox ng-star-inserted">
																<!---->
																<input type="checkbox" class="ng-star-inserted">
																<label>Rome</label>
															</li>
															<li class="pure-checkbox ng-star-inserted">
																<!---->
																<input type="checkbox" class="ng-star-inserted">
																<label>New York</label>
															</li>
															<li class="pure-checkbox ng-star-inserted">
																<!---->
																<input type="checkbox" class="ng-star-inserted">
																<label>Miami </label>
															</li>
															<li class="pure-checkbox ng-star-inserted">
																<!---->
																<input type="checkbox" class="ng-star-inserted">
																<label>Piatra Neamt</label>
															</li>
															<li class="pure-checkbox ng-star-inserted">
																<!---->
																<input type="checkbox" class="ng-star-inserted">
																<label>Paris </label>
															</li>
															<li class="pure-checkbox ng-star-inserted">
																<!---->
																<input type="checkbox" class="ng-star-inserted">
																<label>Bucharest</label>
															</li>
															<li class="pure-checkbox ng-star-inserted">
																<!---->
																<input type="checkbox" class="ng-star-inserted">
																<label>Rome</label>
															</li>
															<li class="pure-checkbox ng-star-inserted">
																<!---->
																<input type="checkbox" class="ng-star-inserted">
																<label>New York</label>
															</li>
															<li class="pure-checkbox ng-star-inserted">
																<!---->
																<input type="checkbox" class="ng-star-inserted">
																<label>Miami </label>
															</li>
															<li class="pure-checkbox ng-star-inserted">
																<!---->
																<input type="checkbox" class="ng-star-inserted">
																<label>Piatra Neamt</label>
															</li>
														</ul>
													</div>
													<!---->
													<!---->
													<!---->
													<!---->
													<!---->
													<!---->
													<!---->
													<!---->
												</div>
											</div>
										</div>
									</angular2-multiselect>
								</div>
							</div>
						</div>
					</div>
					<div class=" row">
						<div class=" col-md-6 mb-4">
							<h4 class=" card-title">Tags</h4>
							<tag-input name="tags" theme="regular-theme" _nghost-rkc-c20="" class="ng-tns-c20-1 ng-untouched ng-pristine ng-valid" tabindex="">
								<div _ngcontent-rkc-c20="" class="ng2-tag-input regular-theme" tabindex="-1">
									<div _ngcontent-rkc-c20="" class="ng2-tags-container">
										<!---->
										<tag _ngcontent-rkc-c20="" _nghost-rkc-c23="" class="ng-tns-c20-1 ng-trigger ng-trigger-animation ng-star-inserted" draggable="false" tabindex="0" style="opacity: 1;">
											<div _ngcontent-rkc-c23="" tabindex="-1" aria-label="Amsterdam">
												<!---->
												<!---->
												<div _ngcontent-rkc-c23="" class="tag-wrapper ng-star-inserted" style="">
													<div _ngcontent-rkc-c23="" class="tag__text inline" spellcheck="false" contenteditable="false" title="Amsterdam"> Amsterdam </div>
													<!---->
													<delete-icon _ngcontent-rkc-c23="" aria-label="Remove tag" role="button" _nghost-rkc-c25="" class="ng-star-inserted">
														<span _ngcontent-rkc-c25="">
															<svg _ngcontent-rkc-c25="" height="16px" viewBox="0 0 32 32" width="16px">
																<path _ngcontent-rkc-c25="" d="M17.459,16.014l8.239-8.194c0.395-0.391,0.395-1.024,0-1.414c-0.394-0.391-1.034-0.391-1.428,0  l-8.232,8.187L7.73,6.284c-0.394-0.395-1.034-0.395-1.428,0c-0.394,0.396-0.394,1.037,0,1.432l8.302,8.303l-8.332,8.286  c-0.394,0.391-0.394,1.024,0,1.414c0.394,0.391,1.034,0.391,1.428,0l8.325-8.279l8.275,8.276c0.394,0.395,1.034,0.395,1.428,0  c0.394-0.396,0.394-1.037,0-1.432L17.459,16.014z" fill="#121313">
																</path>
															</svg>
														</span>
													</delete-icon>
												</div>
											</div>
											<!---->
											<tag-ripple _ngcontent-rkc-c23="" _nghost-rkc-c26="" class="ng-tns-c26-2 ng-star-inserted" tabindex="-1" style="">
												<div _ngcontent-rkc-c26="" class="tag-ripple ng-trigger ng-trigger-ink" style="width: 0px; opacity: 0;">
												</div>
											</tag-ripple>
										</tag>
										<tag _ngcontent-rkc-c20="" _nghost-rkc-c23="" class="ng-tns-c20-1 ng-trigger ng-trigger-animation ng-star-inserted" draggable="false" tabindex="0" style="opacity: 1;">
											<div _ngcontent-rkc-c23="" tabindex="-1" aria-label="Washington">
												<!---->
												<!---->
												<div _ngcontent-rkc-c23="" class="tag-wrapper ng-star-inserted" style="">
													<div _ngcontent-rkc-c23="" class="tag__text inline" spellcheck="false" contenteditable="false" title="Washington"> Washington </div>
													<!---->
													<delete-icon _ngcontent-rkc-c23="" aria-label="Remove tag" role="button" _nghost-rkc-c25="" class="ng-star-inserted">
														<span _ngcontent-rkc-c25="">
															<svg _ngcontent-rkc-c25="" height="16px" viewBox="0 0 32 32" width="16px">
																<path _ngcontent-rkc-c25="" d="M17.459,16.014l8.239-8.194c0.395-0.391,0.395-1.024,0-1.414c-0.394-0.391-1.034-0.391-1.428,0  l-8.232,8.187L7.73,6.284c-0.394-0.395-1.034-0.395-1.428,0c-0.394,0.396-0.394,1.037,0,1.432l8.302,8.303l-8.332,8.286  c-0.394,0.391-0.394,1.024,0,1.414c0.394,0.391,1.034,0.391,1.428,0l8.325-8.279l8.275,8.276c0.394,0.395,1.034,0.395,1.428,0  c0.394-0.396,0.394-1.037,0-1.432L17.459,16.014z" fill="#121313">
																</path>
															</svg>
														</span>
													</delete-icon>
												</div>
											</div>
											<!---->
											<tag-ripple _ngcontent-rkc-c23="" _nghost-rkc-c26="" class="ng-tns-c26-3 ng-star-inserted" tabindex="-1" style="">
												<div _ngcontent-rkc-c26="" class="tag-ripple ng-trigger ng-trigger-ink" style="width: 0px; opacity: 0;">
												</div>
											</tag-ripple>
										</tag>
										<tag _ngcontent-rkc-c20="" _nghost-rkc-c23="" class="ng-tns-c20-1 ng-trigger ng-trigger-animation ng-star-inserted" draggable="false" tabindex="0" style="opacity: 1;">
											<div _ngcontent-rkc-c23="" tabindex="-1" aria-label="Sydney">
												<!---->
												<!---->
												<div _ngcontent-rkc-c23="" class="tag-wrapper ng-star-inserted" style="">
													<div _ngcontent-rkc-c23="" class="tag__text inline" spellcheck="false" contenteditable="false" title="Sydney"> Sydney </div>
													<!---->
													<delete-icon _ngcontent-rkc-c23="" aria-label="Remove tag" role="button" _nghost-rkc-c25="" class="ng-star-inserted">
														<span _ngcontent-rkc-c25="">
															<svg _ngcontent-rkc-c25="" height="16px" viewBox="0 0 32 32" width="16px">
																<path _ngcontent-rkc-c25="" d="M17.459,16.014l8.239-8.194c0.395-0.391,0.395-1.024,0-1.414c-0.394-0.391-1.034-0.391-1.428,0  l-8.232,8.187L7.73,6.284c-0.394-0.395-1.034-0.395-1.428,0c-0.394,0.396-0.394,1.037,0,1.432l8.302,8.303l-8.332,8.286  c-0.394,0.391-0.394,1.024,0,1.414c0.394,0.391,1.034,0.391,1.428,0l8.325-8.279l8.275,8.276c0.394,0.395,1.034,0.395,1.428,0  c0.394-0.396,0.394-1.037,0-1.432L17.459,16.014z" fill="#121313">
																</path>
															</svg>
														</span>
													</delete-icon>
												</div>
											</div>
											<!---->
											<tag-ripple _ngcontent-rkc-c23="" _nghost-rkc-c26="" class="ng-tns-c26-4 ng-star-inserted" tabindex="-1" style="">
												<div _ngcontent-rkc-c26="" class="tag-ripple ng-trigger ng-trigger-ink" style="width: 0px; opacity: 0;">
												</div>
											</tag-ripple>
										</tag>
										<tag _ngcontent-rkc-c20="" _nghost-rkc-c23="" class="ng-tns-c20-1 ng-trigger ng-trigger-animation ng-star-inserted" draggable="false" tabindex="0" style="opacity: 1;">
											<div _ngcontent-rkc-c23="" tabindex="-1" aria-label="Beijing">
												<!---->
												<!---->
												<div _ngcontent-rkc-c23="" class="tag-wrapper ng-star-inserted" style="">
													<div _ngcontent-rkc-c23="" class="tag__text inline" spellcheck="false" contenteditable="false" title="Beijing"> Beijing </div>
													<!---->
													<delete-icon _ngcontent-rkc-c23="" aria-label="Remove tag" role="button" _nghost-rkc-c25="" class="ng-star-inserted">
														<span _ngcontent-rkc-c25="">
															<svg _ngcontent-rkc-c25="" height="16px" viewBox="0 0 32 32" width="16px">
																<path _ngcontent-rkc-c25="" d="M17.459,16.014l8.239-8.194c0.395-0.391,0.395-1.024,0-1.414c-0.394-0.391-1.034-0.391-1.428,0  l-8.232,8.187L7.73,6.284c-0.394-0.395-1.034-0.395-1.428,0c-0.394,0.396-0.394,1.037,0,1.432l8.302,8.303l-8.332,8.286  c-0.394,0.391-0.394,1.024,0,1.414c0.394,0.391,1.034,0.391,1.428,0l8.325-8.279l8.275,8.276c0.394,0.395,1.034,0.395,1.428,0  c0.394-0.396,0.394-1.037,0-1.432L17.459,16.014z" fill="#121313">
																</path>
															</svg>
														</span>
													</delete-icon>
												</div>
											</div>
											<!---->
											<tag-ripple _ngcontent-rkc-c23="" _nghost-rkc-c26="" class="ng-tns-c26-5 ng-star-inserted" tabindex="-1" style="">
												<div _ngcontent-rkc-c26="" class="tag-ripple ng-trigger ng-trigger-ink" style="width: 0px; opacity: 0;">
												</div>
											</tag-ripple>
										</tag>
										<tag-input-form _ngcontent-rkc-c20="" class="ng-tns-c20-1" _nghost-rkc-c24="">
											<form _ngcontent-rkc-c24="" novalidate="" class="ng-untouched ng-pristine ng-valid">
												<input _ngcontent-rkc-c24="" autocomplete="off" class="ng2-tag-input__text-input ng-untouched ng-pristine ng-valid" formcontrolname="item" minlength="1" type="text" tabindex="" placeholder="+ Tag" aria-label="+ Tag">
											</form>
										</tag-input-form>
									</div>
									<!---->
								</div>
								<!---->
							</tag-input>
						</div>
						<div class=" col-md-6">
							<h4 class=" card-title">Dropdown &amp; Dropup</h4>
							<div class=" row">
								<div class=" col-lg-4 col-md-6 col-sm-3">
									<div class="dropdown" dropdown="">
										<button aria-haspopup="true" class=" dropdown-toggle btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown" dropdowntoggle="" id="dropdownMenuButton" type="button"> Dropdown </button>
										<!---->
									</div>
								</div>
								<div class=" col-lg-4 col-md-6 col-sm-3">
									<div class="dropup" dropdown="">
										<button aria-haspopup="true" class="btn btn-primary dropdown-toggle btn-block dropdown-toggle" data-toggle="dropdown" dropdowntoggle="" id="navbarDropdownMenuLink"> Dropup </button>
										<!---->
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class=" row">
						<div class=" col-md-6 mb-4">
							<h4 class=" card-title">Progress Bars</h4>
							<div class=" progress-container">
								<span class=" progress-badge"> Default </span>
								<div class=" progress">
									<progressbar _ max="100" class="progress">
										<!---->
										<bar _ngcontent-rkc-c7="" aria-valuemin="0" role="progressbar" class="progress-bar ng-star-inserted" aria-valuenow="25" aria-valuetext="25%" style="height: 100%; width: 25%;">
											<span class=" progress-value"> 25% </span>
										</bar>
										<!---->
									</progressbar>
								</div>
							</div>
							<div class=" progress-container progress-warning">
								<span class=" progress-badge"> Primary </span>
								<div class=" progress">
									<progressbar class="progress-bar-warning progress" _ max="100">
										<!---->
										<bar _ngcontent-rkc-c7="" aria-valuemin="0" role="progressbar" class="progress-bar ng-star-inserted" aria-valuenow="60" aria-valuetext="60%" style="height: 100%; width: 60%;">
											<span class=" progress-value"> 60% </span>
										</bar>
										<!---->
									</progressbar>
								</div>
							</div>
						</div>
						<div class=" col-md-6">
							<h4 class=" card-title mt-3">Sliders</h4>
							<div class="slider noUi-target noUi-ltr noUi-horizontal" id="sliderRegular">
								<div class="noUi-base">
									<div class="noUi-connects">
									</div>
									<div class="noUi-origin" style="transform: translate(-600%, 0px); z-index: 4;">
										<div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="100.0" aria-valuenow="40.0" aria-valuetext="40.00">
											<div class="noUi-touch-area">
											</div>
										</div>
									</div>
								</div>
							</div>
							<br>
							<div class="slider slider-primary mb-3 noUi-target noUi-ltr noUi-horizontal" id="sliderDouble">
								<div class="noUi-base">
									<div class="noUi-connects">
										<div class="noUi-connect" style="transform: translate(20%, 0px) scale(0.4, 1);">
										</div>
									</div>
									<div class="noUi-origin" style="transform: translate(-800%, 0px); z-index: 5;">
										<div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="60.0" aria-valuenow="20.0" aria-valuetext="20.00">
											<div class="noUi-touch-area">
											</div>
										</div>
									</div>
									<div class="noUi-origin" style="transform: translate(-400%, 0px); z-index: 4;">
										<div class="noUi-handle noUi-handle-upper" data-handle="1" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="20.0" aria-valuemax="100.0" aria-valuenow="60.0" aria-valuetext="60.00">
											<div class="noUi-touch-area">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class=" row">
						<div class=" col-md-4 col-sm-4">
							<h4 class=" card-title">Regular Image</h4>
							<app-picture-upload _nghost-rkc-c21="">
								<div _ngcontent-rkc-c21="" class="fileinput text-center">
									<input _ngcontent-rkc-c21="" type="file">
									<div _ngcontent-rkc-c21="" class="thumbnail">
										<img _ngcontent-rkc-c21="" alt="..." src="assets/img/image_placeholder.jpg">
									</div>
									<div _ngcontent-rkc-c21="">
										<!---->
										<!---->
										<button _ngcontent-rkc-c21="" class="btn-round btn btn-primary ng-star-inserted"> Select image </button>
										<!---->
									</div>
								</div>
							</app-picture-upload>
						</div>
						<div class=" col-md-3 col-sm-4">
							<h4 class=" card-title">Avatar</h4>
							<app-picture-upload _nghost-rkc-c21="">
								<div _ngcontent-rkc-c21="" class="fileinput text-center">
									<input _ngcontent-rkc-c21="" type="file">
									<div _ngcontent-rkc-c21="" class="thumbnail img-circle">
										<img _ngcontent-rkc-c21="" alt="..." src="assets/img/placeholder.jpg">
									</div>
									<div _ngcontent-rkc-c21="">
										<!---->
										<button _ngcontent-rkc-c21="" class="btn-round btn btn-danger ng-star-inserted"> Add Photo </button>
										<!---->
										<!---->
									</div>
								</div>
							</app-picture-upload>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>












	<div class=" row">
		<div class=" col-md-6">
			<form id="RegisterValidation" novalidate="" class="ng-untouched ng-pristine ng-invalid">
				<div class=" card">
					<div class=" card-header">
						<h4 class=" card-title">Register Form</h4>
					</div>
					<div class=" card-body">
						<div class="form-group has-label">
							<label> Email Address * </label>
							<input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="email" name="email" required="" type="email">
							<!---->
						</div>
						<div class="form-group has-label">
							<label> Password * </label>
							<input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="password" id="registerPassword" name="password" required="" type="password" style="background-image: url(&quot;chrome-extension://ibkoenhablealnikeefmjineccmgegmh/src/images/icons/iconForce-32.png&quot;) !important; background-position: 98% 50% !important; background-size: 16px 16px !important; background-repeat: no-repeat !important; transition: background-position 0s ease 0s, background-size 0s ease 0s !important; cursor: pointer;">
							<!---->
						</div>
						<div class="form-group has-label">
							<label> Confirm Password * </label>
							<input class="form-control ng-untouched ng-pristine ng-invalid" equalto="#registerPassword" formcontrolname="confirmPassword" id="registerPasswordConfirmation" name="password_confirmation" type="password" style="background-image: url(&quot;chrome-extension://ibkoenhablealnikeefmjineccmgegmh/src/images/icons/iconForce-32.png&quot;) !important; background-position: 98% 50% !important; background-size: 16px 16px !important; background-repeat: no-repeat !important; transition: background-position 0s ease 0s, background-size 0s ease 0s !important; cursor: default;">
							<!---->
						</div>
						<div class=" category form-category">* Required fields</div>
					</div>
					<div class=" card-footer text-right">
						<div class=" form-check pull-left">
							<label class=" form-check-label">
								<input class=" form-check-input" name="optionCheckboxes" type="checkbox">
								<span class=" form-check-sign">
								</span> Accept the terms and conditions
							</label>
						</div>
						<button class=" btn btn-danger" type="submit">Register</button>
					</div>
				</div>
			</form>
		</div>
		<div class=" col-md-6">
			<form id="LoginValidation" novalidate="" class="ng-untouched ng-pristine ng-invalid">
				<div class=" card">
					<div class=" card-header">
						<h4 class=" card-title">Login Form</h4>
					</div>
					<div class=" card-body">
						<div class="form-group has-label">
							<label> Full Name * </label>
							<input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="fullName" name="fullname" required="" type="text">
							<!---->
						</div>
						<div class="form-group has-label">
							<label> Email Address * </label>
							<input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="email" name="email" type="email" style="background-image: url(&quot;chrome-extension://ibkoenhablealnikeefmjineccmgegmh/src/images/icons/iconForce-32.png&quot;) !important; background-position: 98% 50% !important; background-size: 16px 16px !important; background-repeat: no-repeat !important; transition: background-position 0s ease 0s, background-size 0s ease 0s !important; cursor: default;">
							<!---->
						</div>
						<div class="form-group has-label">
							<label> Password * </label>
							<input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="password" name="password" type="password" style="background-image: url(&quot;chrome-extension://ibkoenhablealnikeefmjineccmgegmh/src/images/icons/iconForce-32.png&quot;) !important; background-position: 98% 50% !important; background-size: 16px 16px !important; background-repeat: no-repeat !important; transition: background-position 0s ease 0s, background-size 0s ease 0s !important;">
							<!---->
						</div>
						<div class=" category form-category">* Required fields</div>
					</div>
					<div class=" card-footer text-left">
						<button class=" btn btn-danger" type="submit">Register</button>
						<a class=" pull-right" href="javascript:void(0)"> Forgot password? </a>
					</div>
				</div>
			</form>
		</div>
		<div class=" col-md-12">
			<form class="form-horizontal ng-untouched ng-pristine ng-invalid" id="TypeValidation" novalidate="">
				<div class=" card">
					<div class=" card-header">
						<h4 class=" card-title">Type Validation</h4>
					</div>
					<div class=" card-body">
						<div class=" row">
							<label class=" col-sm-2 col-form-label"> Required Text </label>
							<div class=" col-sm-7">
								<div class="form-group">
									<input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="requiredText" name="required" required="" type="text">
									<!---->
								</div>
							</div>
							<label class=" col-sm-3 label-on-right">
								<code> required </code>
							</label>
						</div>
						<div class=" row">
							<label class=" col-sm-2 col-form-label"> Email </label>
							<div class=" col-sm-7">
								<div class="form-group">
									<input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="email" name="email" required="" type="email">
									<!---->
								</div>
							</div>
							<label class=" col-sm-3 label-on-right">
								<code> type="email" </code>
							</label>
						</div>
						<div class=" row">
							<label class=" col-sm-2 col-form-label"> Number </label>
							<div class=" col-sm-7">
								<div class="form-group">
									<input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="number" name="number" required="" type="number">
									<!---->
								</div>
							</div>
							<label class=" col-sm-3 label-on-right">
								<code> type="number" </code>
							</label>
						</div>
						<div class=" row">
							<label class=" col-sm-2 col-form-label"> Url </label>
							<div class=" col-sm-7">
								<div class="form-group">
									<input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="url" name="url" required="" type="url">
									<!---->
								</div>
							</div>
							<label class=" col-sm-3 label-on-right">
								<code> type="url" </code>
							</label>
						</div>
						<div class=" row">
							<label class=" col-sm-2 col-form-label"> Equal to </label>
							<div class=" col-sm-3">
								<div class="form-group">
									<input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="idSource" id="idSource" placeholder="#idSource" type="text">
								</div>
							</div>
							<div class=" col-sm-3">
								<div class="form-group">
									<input class="form-control ng-untouched ng-pristine ng-invalid" equalto="#idSource" formcontrolname="idDestination" id="idDestination" placeholder="#idDestination" type="text">
									<!---->
								</div>
							</div>
							<label class=" col-sm-4 label-on-right">
								<code> equalTo="#idSource" </code>
							</label>
						</div>
					</div>
					<div class=" card-footer text-center">
						<button class=" btn btn-danger" type="submit"> Validate Inputs </button>
					</div>
				</div>
			</form>
		</div>
		<div class=" col-md-12">
			<form class="form-horizontal ng-untouched ng-pristine ng-invalid" id="RangeValidation" novalidate="">
				<div class=" card">
					<div class=" card-header">
						<h4 class=" card-title">Range Validation</h4>
					</div>
					<div class=" card-body">
						<div class=" row">
							<label class=" col-sm-2 col-form-label"> Min Length </label>
							<div class=" col-sm-7">
								<div class="form-group">
									<input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="minLength" minlength="5" name="min_length" required="" type="text">
									<!---->
								</div>
							</div>
							<label class=" col-sm-3 label-on-right">
								<code> minLength="5" </code>
							</label>
						</div>
						<div class=" row">
							<label class=" col-sm-2 col-form-label"> Max Length </label>
							<div class=" col-sm-7">
								<div class="form-group">
									<input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="maxLength" maxlength="5" name="max_length" type="text">
									<!---->
								</div>
							</div>
							<label class=" col-sm-3 label-on-right">
								<code> maxLength="5" </code>
							</label>
						</div>
						<div class=" row">
							<label class=" col-sm-2 col-form-label"> Range </label>
							<div class=" col-sm-7">
								<div class="form-group">
									<input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="rangeD" name="rangeD" range="[6,10]" type="number">
									<!---->
								</div>
							</div>
							<label class=" col-sm-3 label-on-right">
								<code> min="6" max="10" </code>
							</label>
						</div>
						<div class=" row">
							<label class=" col-sm-2 col-form-label"> Min Value </label>
							<div class=" col-sm-7">
								<div class="form-group">
									<input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="minValue" min="6" name="min" type="number">
									<!---->
								</div>
							</div>
							<label class=" col-sm-3 label-on-right">
								<code> min="6" </code>
							</label>
						</div>
						<div class=" row">
							<label class=" col-sm-2 col-form-label"> Max Value </label>
							<div class=" col-sm-7">
								<div class="form-group">
									<input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="maxValue" max="6" name="max" type="text">
									<!---->
								</div>
							</div>
							<label class=" col-sm-3 label-on-right">
								<code> max="6" </code>
							</label>
						</div>
					</div>
					<div class=" card-footer text-center">
						<button class=" btn btn-danger" type="submit"> Validate Inputs </button>
					</div>
				</div>
			</form>
		</div>
	</div>



	<div class=" col-md-10 mr-auto ml-auto">
		<div class=" wizard-container">
			<div class="bs-stepper card card-wizard active" data-color="red" id="wizardProfile">
				<form novalidate="" class="ng-untouched ng-pristine ng-invalid">
					<div class="card-header text-center">
						<h3 class=" card-title">Build Your Profile</h3>
						<h5 class=" description"> This information will let us know more about you. </h5>
						<div class=" wizard-navigation">
							<div class=" progress-with-circle">
								<progressbar class="progress-bar progress" _ max="100">
									<!---->
									<bar _ngcontent-rkc-c7="" aria-valuemin="0" role="progressbar" class="progress-bar ng-star-inserted" aria-valuenow="15" aria-valuetext="15%" style="height: 100%; width: 15%;">
									</bar>
									<!---->
								</progressbar>
							</div>
							<ul class="nav nav-pills nav-pills-danger bs-stepper-header">
								<li class="step nav-item active" data-target="#about">
									<a class="step-trigger nav-link active" aria-selected="true">
										<i class=" tim-icons icon-single-02">
										</i>
										<p>About</p>
									</a>
								</li>
								<li class="step nav-item" data-target="#account">
									<a class="step-trigger nav-link" aria-selected="false">
										<i class=" tim-icons icon-settings-gear-63">
										</i>
										<p>Account</p>
									</a>
								</li>
								<li class="step nav-item" data-target="#address">
									<a class="step-trigger nav-link" aria-selected="false">
										<i class=" tim-icons icon-delivery-fast">
										</i>
										<p>Address</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="bs-stepper-content card-body">
						<div class=" tab-content">
							<div class="tab-pane show fade active dstepper-block" id="about">
								<h5 class=" info-text"> Let's start with the basic information (with validation) </h5>
								<div class=" row justify-content-center mt-5">
									<div class=" col-sm-5">
										<div class="input-group">
											<div class=" input-group-prepend">
												<div class=" input-group-text">
													<i class=" tim-icons icon-single-02">
													</i>
												</div>
											</div>
											<input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="firstName" name="firstname" placeholder="First Name..." type="text">
											<!---->
										</div>
										<div class="input-group">
											<div class=" input-group-prepend">
												<div class=" input-group-text">
													<i class=" tim-icons icon-email-85">
													</i>
												</div>
											</div>
											<input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="email" name="email" placeholder="Email..." required="" type="email">
											<!---->
										</div>
									</div>
									<div class=" col-sm-5">
										<div class="input-group">
											<div class=" input-group-prepend">
												<div class=" input-group-text">
													<i class=" tim-icons icon-caps-small">
													</i>
												</div>
											</div>
											<input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="lastName" name="lastname" placeholder="Last Name..." type="text">
											<!---->
										</div>
										<div class="input-group">
											<div class=" input-group-prepend">
												<div class=" input-group-text">
													<i class=" tim-icons icon-mobile">
													</i>
												</div>
											</div>
											<input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="phone" name="number" placeholder="Phone..." type="number">
											<!---->
										</div>
									</div>
									<div class=" col-sm-10">
										<div class="input-group">
											<div class=" input-group-prepend">
												<div class=" input-group-text">
													<i class=" tim-icons icon-square-pin">
													</i>
												</div>
											</div>
											<input class=" form-control" name="address" placeholder="Address" type="text">
										</div>
									</div>
								</div>
							</div>
							<div class="show tab-pane fade dstepper-none" id="account">
								<h5 class=" info-text">Who are you? (Fileinput)</h5>
								<div class=" row justify-content-center">
									<div class=" col-lg-10 text-center">
										<app-picture-upload _nghost-rkc-c21="">
											<div _ngcontent-rkc-c21="" class="fileinput text-center">
												<input _ngcontent-rkc-c21="" type="file">
												<div _ngcontent-rkc-c21="" class="thumbnail">
													<img _ngcontent-rkc-c21="" alt="..." src="assets/img/image_placeholder.jpg">
												</div>
												<div _ngcontent-rkc-c21="">
													<!---->
													<!---->
													<button _ngcontent-rkc-c21="" class="btn-round btn btn-primary ng-star-inserted"> Select image </button>
													<!---->
												</div>
											</div>
										</app-picture-upload>
									</div>
								</div>
							</div>
							<div class="show tab-pane fade dstepper-none" id="address">
								<div class=" row justify-content-center">
									<div class=" col-sm-12">
										<h5 class=" info-text">Are you living in a nice area?</h5>
									</div>
									<div class=" col-sm-7">
										<div class=" form-group">
											<label> Street Name </label>
											<input class=" form-control" type="text">
										</div>
									</div>
									<div class=" col-sm-3">
										<div class=" form-group">
											<label> Street No. </label>
											<input class=" form-control" type="text">
										</div>
									</div>
									<div class=" col-sm-5">
										<div class=" form-group">
											<label> City </label>
											<input class=" form-control" type="text">
										</div>
									</div>
									<div class=" col-sm-5">
										<div class=" form-group">
											<label> Country </label>
											<angular2-multiselect formcontrolname="select" class="selectpicker btn-danger ng-untouched ng-pristine ng-valid">
												<div class="cuppa-dropdown">
													<div class="selected-list">
														<div class="c-btn" tabindex="0">
															<!---->
															<span class="ng-star-inserted">Single Select</span>
															<!---->
															<span class="ng-star-inserted">
																<!---->
															</span>
															<!---->
															<!---->
															<!---->
															<!---->
															<!---->
															<span class="c-angle-down ng-star-inserted">
																<c-icon>
																	<!---->
																	<!---->
																	<svg xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" height="100%" id="Capa_1" style="enable-background:new 0 0 612 612;" version="1.1" viewBox="0 0 612 612" width="100%" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px" class="ng-star-inserted">
<g>
<g id="_x31_0_34_">
<g>
<path d="M604.501,134.782c-9.999-10.05-26.222-10.05-36.221,0L306.014,422.558L43.721,134.782
				c-9.999-10.05-26.223-10.05-36.222,0s-9.999,26.35,0,36.399l279.103,306.241c5.331,5.357,12.422,7.652,19.386,7.296
				c6.988,0.356,14.055-1.939,19.386-7.296l279.128-306.268C614.5,161.106,614.5,144.832,604.501,134.782z">
</path>
</g>
</g>
</g>
</svg>
																	<!---->
																	<!---->
																	<!---->
																</c-icon>
															</span>
															<!---->
														</div>
													</div>
													<div class="dropdown-list animated fadeIn" hidden="">
														<div class="arrow-2 arrow-up">
														</div>
														<div class="arrow-up">
														</div>
														<div class="list-area single-select-mode">
															<!---->
															<!---->
															<!---->
															<!---->
															<div class="filter-select-all ng-star-inserted">
																<!---->
																<!---->
																<!---->
																<!---->
																<!---->
															</div>
															<!---->
															<!---->
															<div style="overflow: auto; max-height: 300px;" class="ng-star-inserted">
																<ul class="lazyContainer">
																	<!---->
																	<li class="pure-checkbox ng-star-inserted">
																		<!---->
																		<input type="checkbox" class="ng-star-inserted">
																		<label> Afghanistan </label>
																	</li>
																	<li class="pure-checkbox ng-star-inserted">
																		<!---->
																		<input type="checkbox" class="ng-star-inserted">
																		<label> Albania </label>
																	</li>
																	<li class="pure-checkbox ng-star-inserted">
																		<!---->
																		<input type="checkbox" class="ng-star-inserted">
																		<label> Algeria </label>
																	</li>
																	<li class="pure-checkbox ng-star-inserted">
																		<!---->
																		<input type="checkbox" class="ng-star-inserted">
																		<label> American Samoa </label>
																	</li>
																	<li class="pure-checkbox ng-star-inserted">
																		<!---->
																		<input type="checkbox" class="ng-star-inserted">
																		<label> Andorra </label>
																	</li>
																	<li class="pure-checkbox ng-star-inserted">
																		<!---->
																		<input type="checkbox" class="ng-star-inserted">
																		<label> Angola </label>
																	</li>
																	<li class="pure-checkbox ng-star-inserted">
																		<!---->
																		<input type="checkbox" class="ng-star-inserted">
																		<label> Anguilla </label>
																	</li>
																	<li class="pure-checkbox ng-star-inserted">
																		<!---->
																		<input type="checkbox" class="ng-star-inserted">
																		<label> Antarctica </label>
																	</li>
																</ul>
															</div>
															<!---->
															<!---->
															<!---->
															<!---->
															<!---->
															<!---->
															<!---->
															<!---->
														</div>
													</div>
												</div>
											</angular2-multiselect>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class=" card-footer">
						<div class=" pull-right">
							<input class=" btn btn-next btn-fill btn-danger btn-wd" name="next" type="submit" value="Next">
							<input class=" btn btn-finish btn-fill btn-primary btn-wd" name="finish" type="button" value="Finish">
						</div>
						<div class=" pull-left">
							<input class=" btn btn-previous btn-fill btn-default btn-wd" name="previous" type="button" value="Previous">
						</div>
						<div class=" clearfix">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>


@code {

}
